:root {
  --text: #80967d;
  --accent: #7fff00;
  --disabled: #ffe8a390;
  --background: rgb(3, 20, 3);
}

body {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
}

#status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 17rem;
  padding: 0 1rem 0 2rem;
}

#count {
  color: var(--disabled);
  font-family: monospace;
}

input#fuzzy-box {
  margin-left: 1rem;
}
input#fuzzy-box + label {
  color: var(--disabled);
}

input#fuzzy-box:checked + label {
  color: var(--accent);
}

#definition-area {
  width: 70vw;
  margin: 1rem 1rem 1rem 3rem;
}

#list-area {
  width: 30vw;
}

input {
  font-size: 1.2rem;
  font-family: sans-serif;
  /* font-weight: bold; */
  padding: 0.4rem;
  margin: 1rem;
  background-color: var(--accent);
  border: solid 2px black;
  border-radius: 10px;
}
input:focus {
  background-color: black;
  outline: solid 2px var(--accent);
  color: var(--accent);
}

.head-word {
  font-weight: bold;
}

.entry {
  border: solid 1px;
  padding: 1rem;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  cursor: default;
}

h1 {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: var(--accent);
}

li p {
  margin: 0;
}

.item:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 975px) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  #definition {
    width: auto;
  }

  #list-area {
    width: auto;
  }

  ul.results li {
    margin-bottom: 0.5rem;
  }
}

.links-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.links-area a {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.links-area a:hover {
  top: -3px;
}

/* check box */
input[type="checkbox"] {
  display: none;
}
.check-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 12px;
}

input[type="checkbox"]:not(:checked) + .check-icon {
  background-image: url(./images/checkbox--unchecked.svg);
}
input[type="checkbox"]:checked + .check-icon {
  background-image: url(./images/checkbox--checked.svg);
}

img.checkbox {
  height: 20px;
  margin-right: 0.5rem;
}
